# build
cmake-build-debug

# script files
*.bat

# savings from bash
*.ash_history

# vs code
.vscode
.vs

# JetBrains
.idea

# build directory
build/

# recources (can be too big)
resources/3d_objects/
.glb
.obj
.mtl
.jpg
.png