# build
cmake-build-debug

# script files
*.bat

# savings from bash
*.ash_history

# vs code
.vscode
.vs

# JetBrains
.idea

# build directory
build/

# resources (can be too big)
*.glb
*.obj
*.mtl
*.jpg
*.png